@use 'mixins' as *;
@use 'keyframes' as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#mobile {
    display: none;
    font-size: 35px;
}

#mobbut {
    display: none !important;
    padding: 0 !important;
    aspect-ratio: 1/1 !important;
}

h2 {
    font-size: 24px;
}

a:hover {
    color: #e72413 !important;
}

body {
    font-family: "Inter", sans-serif;
    width: 100vw;
    overflow-x: hidden;
    height: fit-content;
}

.prods {
    @include grid(5);
    gap: 18px;
}

.prod {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.21s;
}

.prod:hover {
    box-shadow: 0 5px 20px 3px #21212144;

    img {
        transform: scale(1.08);
    }

    h3 {
        color: #e72413;
    }

    .wished {
        @include flex(center, center);
    }
}

.pimg {
    position: relative;
    overflow: hidden;
    @include flex(center, center);
    width: 100%;
    aspect-ratio: 14/13;

    img {
        width: 100%;
        transition: 0.21s;
    }
}

.pbio,
.pdeal {
    color: #ffffff;
    padding: 3px;
    @include font(501, 14px);
    @include position(absolute, 8px);
    border-radius: 5px;
    z-index: 5;
}

.wished {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: white;
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: 0.21s;
    display: none;

    .bi {
        font-size: 20px;
        color: #000000;
    }
}

.wished:hover {
    background-color: #e72413;

    .bi {
        color: #ffffff;
    }
}

.str .bi {
    color: #facc15;
}

.pbio {
    left: 8px;
    background-color: #e72413;
}

.pdeal {
    right: 8px;
    background-color: #ef4444;
}

.ptext {
    padding: 12px 11px;
    @include flex(start, start, 10px, column);

    h3 {
        @include font(501, 15px);
        color: #000000;
    }

    h6 {
        color: #737373;
        @include font(100, 14px);
    }

    strong {
        font-weight: 550 !important;
    }
}

.amt {
    color: #737373;
}

.pprice {
    @include flex(end, start, 5px);

    h1 {
        font-size: 42px;
        color: #e72413;
    }

    h2 {
        font-size: 21px;
        color: #e72413
    }

    del {
        @include position(relative, -1px);
        font-size: 15px;
        color: #737373;
    }

    p {
        background-color: #e72413;
        border-radius: 5px;
        color: #ffffff;
        padding: 5px 10px;
    }
}

.spacer {
    margin: 195px 0;
}

.mid {
    margin: auto;
    width: 83%;
}

.stars {
    font-size: 15px;
    color: #212121;
    @include flex(center, start, 2px);
}

#pegged {
    width: 100vw;
    @include position(fixed, 0, 0);
    z-index: 1000;
}

header {
    background-color: #f5f5f5;

    a {
        text-decoration: none;
    }

    .mid {
        @include flex(center, space-between);
        height: 35px
    }

    ul {
        @include flex(center, space-between, 20px);
        list-style-type: none;
        @include font(0, 14px);
    }
}

nav {
    background-color: #ffffff;
    border-bottom: 1px solid #e8e8e8;

    .mid>div {
        padding: 16px 0;

        a {
            text-decoration: none;
            color: #000000;
        }
    }
}

#navsearch {
    border-bottom: 1px solid #e8e8e8;
    @include flex(center, space-between, 38px);

    h3 {
        @include flex(center, space-between);

        a {
            font-size: 23px;
            color: #e72413 !important;
        }
    }

    #as {
        text-align: end;

        a {
            margin-top: 3px;
            padding: 8px;
            color: #000000 !important;
            @include font(100, 18px);
            display: none;
        }
        .hr{
            border: 1px solid #e8e8e8;
            width: 83vw;
            position: absolute;
            left: 8.5vw;
        }
    }
}

#navinput {
    width: 100%;
    @include flex(center, space-between, 7px);

    input {
        all: unset;
        border: 1px solid #e8e8e8;
        padding: 0 15px;
        height: 44px;
        font-size: 15px;
        width: 100%;
        border-radius: 5px;
    }

    input:focus {
        border: 1px solid #e72413;
        outline: 3px solid #fad3d0;
    }

    button {
        all: unset;
        height: 44px;
        background-color: #e72413;
        color: #ffffff;
        border-radius: 5px;
        @include font(550, 15px);
        padding: 0 20px;
    }
}

#icons {
    width: fit-content;
    @include flex(center, space-between, 15px);

    button {
        all: unset;
        width: 35px;
        aspect-ratio: 1/1;
        border-radius: 5px;
        @include flex(center, center);
    }

    button:hover {
        background-color: #e3e3e3;
    }

    svg {
        height: 20px;
    }

    a {
        color: #000000 !important;
    }
}

#categs ul {
    list-style-type: none;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    @include flex(center, start, 20px);
    @include font(501, 14px);
}

#catsg {
    @include grid(4);
    gap: 18px;
    padding-bottom: 45px;

    a {
        color: #000000;
    }

    h2 {
        font-size: 50px;
        transition: 0.2s;
    }

    p {
        @include font(550, 19px);
    }

    .bcgcont {
        gap: 11px;
    }
}


.ctg {
    @include flex(stretch, start, 32px, column);

    h1 {
        font-size: 42px;
    }

    h5 {
        @include font(100, 15px);
        color: #737373
    }

    h4 {
        margin-top: 10px;
        color: #ffffff;
    }
}

.ctgtit {
    @include flex(start, space-between, 9px, column);
    margin: 200px 0 40px 0;

    p {
        color: #737373;
        font-size: 20px;
    }
}

footer {
    background-color: #212121;
    color: #ffffff;
    padding: 17px 0;
    margin-top: 70px;

    .mid>div {
        padding: 32px 0;
    }
}

#flash {
    background-color: #ef4444;
    border-radius: 5px;
    margin: 50px auto;
    color: #ffffff;
    padding: 32px 38px;
    @include flex(baseline, space-between);

    h3 {
        font-size: 32px;
    }

    h2 {
        font-size: 38px;
    }

    p {
        color: #e8e8e8
    }
}

.error {
    width: 100%;
    margin: 255px 0 120px 0;

    p {
        margin: 40px 0;
    }

    a {
        padding: 14px 20px;
        border-radius: 5px;
        background-color: #e72413;
        color: #ffffff
    }

    a:hover {
        color: #ffffff !important;
        background-color: #e93a2a;
    }

    h1 {
        font-size: 50px;
    }

    h3 {
        margin: 15px 0;
    }
}

.right {
    @include flex(start, space-between, 15px, column);
}

.left {
    @include flex(end, space-between, 5px, column);
}

#footgrid {
    border-bottom: 1px solid #e8e8e8;
    @include grid(5);
    column-gap: 40px;

    ul {
        list-style-type: none;
        font-size: 14px;
        @include flex(start, start, 9px, column);

        p {
            @include font(550, 18px);
            padding-bottom: 13px;
        }
    }
}

#app {
    background-color: #e72413;
    color: #ffffff;
    width: 100%;
    @include flex(center, center, 10px);
    font-size: 16px;
    padding: 8px 0;
    border-radius: 5px;
}

#ios {
    color: #e8e8e8;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

#footgrid2 {
    border-bottom: 1px solid #e8e8e8;
    @include grid(3);
    column-gap: 40px;

    svg {
        color: #e72413;
    }
}

.fgcont {
    @include flex(start, start, 10px);
}

.svdiv {
    @include flex(start, space-between, 3px, column);

    h6 {
        @include font(501, 14px);
    }

    p {
        font-size: 13px;
        color: #e3e3e3;
    }
}

#copyright {
    width: fit-content;
    margin: 0 auto;
    color: #e3e3e3;
    font-size: 13px;
}

#banner {
    background: linear-gradient(to right, #e72413, #ec5042);
    color: #ffffff;
    border-radius: 5px;
    padding: 113px 0;
    margin-bottom: 35px;
    text-align: center;
    @include flex(center, space-between, 13px, column);

    h1 {
        font-size: 47px;
        max-width: 90%;
    }

    h3 {
        @include font(100, 20px);
        max-width: 90%;
    }
}

.view {
    margin: 25px 0;
    @include flex(center, space-between);

    a {
        color: #e72413;
        @include font(501, 17px);
    }

    a:hover {
        font-weight: 500;
    }
}

#bcgrid {
    @include grid(6);
    gap: 18px;

    a {
        color: #000000;
    }
}

.bcgcont {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 20px 0;
    @include flex(center, space-between, 13px, column);

    p {
        @include font(501, 17px);
    }

    h3 {
        font-size: 40px;
        transition: 0.2s;
    }
}

.bcgcont:hover {
    border-color: #e72413;
    outline: 3px solid #fad3d0;
    box-shadow: 0 5px 5px 2px #21212120;

    p,
    h4 {
        color: #e72413 !important;
    }

    h3,
    h2 {
        transform: scale(1.17);
    }

    h5 {
        color: #737373;
    }
}

#side {
    display: grid;
    grid-template-columns: 98fr 99fr;
    gap: 30px;
}

#path {
    margin: 30px 0;
    @include font(501, 14px);

    a {
        font-weight: 100;
        color: #737373;
    }
}

#sdimg {
    overflow: hidden;
    @include flex(center, start, 20px, column);
}

#mainimg,
.imgslidimg {
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 5px;
    @include flex(center, center);

    img {
        width: 100%;
    }
}

#imgslide {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    @include flex(center, start, 20px);
    height: 170px;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.imgslidimg {
    flex-shrink: 0;
    border: 1px solid #e8e8e8;
    height: 100%;
    cursor: pointer;
}

.selct {
    border-color: #e72413 !important;
    border-width: 2px !important;
}

#sidtxt {
    @include flex(start, start, 10px, column);

    .pprice {
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        padding: 9px 0 21px 0;

        del {
            top: -6px;
            font-size: 20px;
        }
    }
}

#sidn {
    padding: 7px 0 19px 0;
    border-bottom: 1px solid #e8e8e8;
    @include flex(start, start, 15px, column);

    .stars {
        gap: 10px;
    }
}

#avail {
    padding: 16px 0 21px 0;
    width: 100%;
    @include font(501, 17px);
    border-bottom: 1px solid #e8e8e8;
}

#avl {
    margin-bottom: 20px;
    @include flex(center, space-between, 20px, column);
}

.avltwo {
    width: 100%;
    @include flex(center, space-between);
}

.red {
    color: #e72413;
}

#quantbut {
    margin: 19px 0;
    @include flex(center, start, 10px);

    p,
    span {
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        font-weight: 100;
        @include flex(center, center);
    }

    p {
        width: 42px;
        aspect-ratio: 1/1;
        user-select: none;
    }

    p:hover {
        border-color: #e72413;
        cursor: pointer;
    }

    span {
        height: 45px;
        aspect-ratio: 9/5;

        input {
            all: unset;
            height: 100%;
            width: 100%;
            text-align: center;
            padding: 0 2px;
            font-weight: 0;
        }
    }

    span input:focus {
        border-radius: 5px;
        border: 3px solid #000000;
        outline: 1px solid #7373733a;
    }
}

.b {
    margin: 0;
    padding: 20px 50px;
    text-align: center;

    h1 {
        font-size: 40px;
    }
}

#quntt {
    margin-top: 29px;
}

#aqgrid {
    @include grid(2);
    gap: 13px;

    div {
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: center;
        padding: 15px 0;
        transition: 0.21s;
    }
}

.empty {
    margin-top: 30px;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 50px 0;
    @include flex(center, center, 20px, column);

    h1 {
        font-size: 70px;
    }

    .aqred {
        margin: 10px 0;
        padding: 17px 30px;
        border-radius: 5px;
    }

    a:hover {
        color: #ffffff !important;
    }
}

.inyour {
    margin-top: 45px;
    padding: 25px 30px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    width: 100%;
    @include flex(center, space-between);

    p {
        font-size: 18px !important;
        color: #000000 !important;
    }
}

#mobbut,
#pcbut {
    cursor: pointer !important;
}

.ess {
    margin-top: 25px;
    width: 100%;
}

.hov:hover {
    cursor: pointer;
}

.buots {
    @include flex(center, end, 20px);

    p {
        border: 2px solid #e72413;
        border-radius: 5px;
        color: #e72413 !important;
        padding: 11px 23px;
    }

    .aqred {
        color: #ffffff !important;
    }
}

.eees {
    width: 100%;
    @include flex(start, space-between, 30px);
    position: relative;
    margin-top: 20px;

    .ptext {
        width: 80%;
    }

    .ess {
        margin-top: 0;
    }
}

.ins2 {
    padding: 22px;
    width: 330px;
    min-width: 350px;
    border: 1px solid #e8e8e8;
    position: sticky;
    top: 190px;
}

.ins1 {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
    padding-bottom: 25px;
    @include flex(stretch, start, 30px, column);

    >div {
        @include flex(stretch, start, 15px, column);
    }

    span {
        @include flex(center, space-between);
    }

    p {
        color: #000000 !important;
        font-size: 17px !important;
    }

    .free {
        color: #159d47 !important;
    }
}

.ins {
    @include flex(stretch, space-between, 30px, column);

    ul {
        list-style-type: none;
        background-color: #f5f5f5;
        padding: 18px;
        @include flex(start, start, 8px, column);
    }
}

.hidden {
    display: none;
}

.dssad {
    @include flex(stretch, space-between, 20px, column);
    text-align: center;
}

.total {
    @include flex(center, space-between);

    h2 {
        color: #e72413;
    }
}

.carters .prods {
    h3 {
        font-size: 20px;
    }

    h2 {
        color: #e72413;
    }

    grid-template-columns: 1fr;

    .prod {
        padding: 25px;
        @include flex(start, space-between, 20px);
    }

    .eezer {
        @include flex(start, start, 15px);
    }

    .ptext {
        padding: 0;
    }

    .pimg {
        aspect-ratio: 1/1;
        width: 100px;
        border-radius: 5px;
    }

    .pbio,
    .pdeal,
    .wished,
    .str,
    .amt,
    .sells {
        display: none;
    }

    .hidden {
        display: block;
    }

    #incr {
        @include flex(center, start, 23px);

        div {
            border: 1px solid #e8e8e8;
            border-radius: 5px;
            @include flex();

            p {
                @include flex(center, center);
                width: 38px;
                aspect-ratio: 1/1;
                font-size: 22px;
                text-align: center;
            }

            input {
                height: 38px;
                width: 38px;
                text-align: center;
                border: none;
                font-size: 20px;
            }
        }

        span {
            width: 38px;
            aspect-ratio: 1/1;
            font-size: 21px;
            @include flex(center, center);
        }

        span:hover {
            background-color: #fdecec;
            border-radius: 5px;
        }
    }

    .bsd {
        @include flex(start, space-between, 10px, column);
        width: fit-content;

        p {
            text-align: end;
            width: 100%;
        }

        h2 {
            text-align: end;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .prod:hover {
        box-shadow: 0 0 0 0;

        img {
            transform: scale(1);
        }

        h3 {
            color: #000000;
        }
    }
}

.aqred,
.aqbynow {
    grid-column: 1/3;
    border-color: #e72413 !important;
}

.aqsmol:hover {
    border-color: #e72413 !important;
    color: #e72413;
}

.aqred {
    background-color: #e72413;
    color: #ffffff !important;
}

#ds .view {
    margin-top: 0;
}

.bbord {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
}

aside {
    width: 340px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 25px;

    h3 {
        font-size: 16px;
    }

    .aqbynow {
        border: 1px solid #e72413;
        border-radius: 5px;
        padding: 13px 0;
        text-align: center;
        margin-top: 30px;
    }

    input,
    select {
        background-color: white;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        padding: 11px 8px;
        width: 100%;
    }

    input:focus,
    select:focus {
        border-radius: 5px;
        border: 3px solid #000000;
        outline: 1px solid #7373733a;
    }
}

.in {
    width: 100%;
    @include flex(start, space-between, 2px, column);

    label {
        font-size: 15px;
        color: #737373
    }

    input {
        width: 100%;
    }
}

.prodi {
    @include flex(start, start, 30px);

    .feprods {
        margin-top: 0;
    }

    .prods {
        grid-template-columns: repeat(4, 1fr);
    }
}

.aqred:hover {
    background-color: #e93a2a;
}

.aqbynow {
    border-width: 2px !important;
    color: #e72413;
}

.aqbynow:hover {
    background-color: #fef4f3;
}

.bbord {
    @include flex(start, start, 18px, column);
}

.bb2 {
    h3 {
        margin-bottom: 15px;
    }

    p {
        width: 100%;
        border-radius: 5px;
        padding: 12px 10px;
        transition: 0.21s;
    }
}

.bb2 p:hover {
    background-color: #f5f5f5;
}

.up {
    margin-top: 30px;
}

#prodtri {
    margin: 15px 0;
    @include flex(start, start, 15px, column);

    h6 {
        font-size: 16px;
    }

    p {
        color: #737373;
        font-size: 15px;
    }

    .fgcont {
        gap: 15px;
    }

    .svdiv {
        gap: 8px;
    }
}

#spdesc,
#rela {
    margin: 40px 0;
    @include flex(stretch, space-between, 50px, column);

    section {
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        padding: 35px;
    }
}

#desc {
    @include flex(start, space-between, 22px, column);

    p {
        font-size: 18px;
        line-height: 29px;
    }
}

#rela {
    gap: 22px;
    margin-top: 55px;
}

#sgrid {
    @include grid(2);
    row-gap: 10px;
    column-gap: 30px;
    margin-top: 8px;

    div {
        border-bottom: 1px solid #e8e8e8;
        padding: 20px 0;
    }
}

.sgtit {
    font-size: 15px;
    color: #737373;
    margin-bottom: 9px;
}

#tres {
    @include grid(3);
    gap: 25px;
    margin: 50px auto;
}

.trescont {
    padding: 30px 0;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    @include flex(center, start, 20px, column);

    p {
        color: #737373;
    }

    h2 {
        font-size: 42px;
    }
}

.tenochtitlan {
    @include flex(start, space-between, 12px, column);

    p {
        color: #737373;
        font-size: 15px;
    }
}

@media (max-width:1250px) {
    .prodi .prods {
        grid-template-columns: 1fr 1fr;
    }

    #catsg {
        grid-template-columns: repeat(3, 1fr);
    }

    #footgrid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 37px;
    }

    #bcgrid {
        grid-template-columns: repeat(3, 1fr);
    }

    .prods {
        grid-template-columns: repeat(3, 1fr);
    }

    #mainimg {
        aspect-ratio: 2/3;
    }
}

@media (max-width: 900px) {
    .prodi .prods {
        grid-template-columns: 1fr;
    }

    #catsg {
        grid-template-columns: 1fr 1fr;
    }

    #icons {
        display: none;
    }

    header {
        display: none;
    }

    #mobile {
        display: block;
    }

    #navsearch {
        @include flex($fd: column, $gap: 9px);

        h3 {
            width: 100%;
            @include flex(start, space-between);

            span {
                position: relative;
                top: 5px;
            }
        }

    }

    #mainimg {
        aspect-ratio: 1/1;
    }

    #side {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px) {
    aside {
        min-width: 225px;
    }

    #catsg {
        grid-template-columns: 1fr;
    }

    #footgrid {
        grid-template-columns: 1fr;

        ul {
            align-items: center;
        }
    }

    #footgrid2 {
        grid-template-columns: 1fr;
        row-gap: 35px;
    }

    #bcgrid {
        grid-template-columns: 1fr 1fr;
    }

    .prods {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    aside {
        width: 100%;
    }

    .prodi {
        flex-direction: column;

        .feprods {
            width: 100%;
        }
    }

    #pcbut {
        display: none !important;
    }

    #mobbut {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    #bcgrid {
        grid-template-columns: 1fr;
    }

    .prods {
        grid-template-columns: 1fr;
    }

    #banner h1 {
        font-size: 42px;
    }

    .pprice {
        align-items: center;
        flex-direction: column;
    }

    #imgslide {
        height: 125px;
    }

    #quantbut {
        justify-content: center;
    }

    #quntt {
        text-align: center;
    }

    #avl {
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 20px;
    }
}


@media (min-width: 900px) {
    #as a {
        display: none !important;
    }

    #as .hr{
        display: none !important;
    }
}
